{% extends 'base.html' %}
{% block head %} 
<title>{% if pgTitle %} {{pgTitle}} {% else %} Online Home Bakers | Home {% endif %}</title>
{% endblock %}

{% block body %}
<div class="container-fluid bg-dark bg-img p-5">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="display-4 text-uppercase text-white">{% if sub_page %} {{sub_page}} {% else %} PAGE {% endif %}</h1>
            <a href="{{url_for('index')}}">Home</a>
            <i class="far fa-square text-primary px-2"></i>
            <a href="{{url_for('register')}}">{% if sub_page %} {{sub_page}} {% else %} Add {% endif %}</a>
        </div>
    </div>
</div>
<div class="container-fluid contact position-relative px-5" style="margin-bottom: 190px;">
    <div class="container">
        <div class="row g-5 p-5">

        </div>
        <div class="row justify-content-center">
            <div class="col-lg-6 mt-2">
                <form method="post" action="">
                    {{ form.hidden_tag() }}
                    <div class="row g-3 mt-3">
                        <div class="col-sm-6">
                            {{form.name.label()}}
                            {{form.name(class="form-control bg-light border-0 px-4", placeholder=form.name.label.text, style="height: 55px;")}}
                        </div>
                        <div class="col-sm-6">
                            {{form.loginid.label()}}
                            {{form.loginid(class="form-control bg-light border-0 px-4", placeholder=form.loginid.label.text, style="height: 55px;")}}
                            {% if form.loginid.errors %}
                                {% for error in form.loginid.errors %}
                                    <span class="text-dark alert-danger">{{error}}</span>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="col-sm-6">
                            {{form.password.label()}}
                            {{form.password(class="form-control bg-light border-0 px-4", placeholder=form.password.label.text, style="height: 55px;")}}
                            {% if form.password.errors %}
                            {% for error in form.password.errors %}
                                <span class="text-dark alert-info">{{error}}</span>
                            {% endfor %}
                            {% endif %}
                        </div>
                        <div class="col-sm-6">
                            {{form.con_password.label()}}
                            {{form.con_password(class="form-control bg-light border-0 px-4", placeholder=form.con_password.label.text, style="height: 55px;")}}
                            {% if form.con_password.errors %}
                            {% for error in form.con_password.errors %}
                                <span class="text-dark alert-info">{{error}}</span>
                            {% endfor %}
                            {% endif %}
                        </div>
                        <div class="col-sm-6">
                            {{form.contact.label()}}
                            {{form.contact(class="form-control bg-light border-0 px-4", placeholder=form.contact.label.text, style="height: 55px;")}}
                        </div>
                        <div class="col-sm-6">
                            {{form.email.label()}}
                            {{form.email(class="form-control bg-light border-0 px-4", placeholder=form.email.label.text, style="height: 55px;")}}
                            {% if form.email.errors %}
                            {% for error in form.email.errors %}
                                <span class="text-dark alert-info">{{error}}</span>
                            {% endfor %}
                            {% endif %}
                        </div>
                        <div class="col-sm-12">
                            {{form.address.label()}}
                            {{form.address(class="form-control bg-light border-0 px-4", rows='3', style="height: 55px;")}}
                        </div>
                        <div class="col-sm-6">
                            {{form.submit(class="btn btn-primary border-inner w-100 py-3")}}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}